sway/log
sway/backgrounds
nvim/lazy-lock.json

#Applications configs
.config/Code/
.config/microsoft-edge/
.config/obsidian/
.config/go/
.config/pulse/
.config/Postman/
.config/VirtualBox/
.config/nomacs/
.config/wireshark/
.config/libreoffice/
.config/vifm/
.config/dconf/
.config/QtProject.conf
.config/nvim/lazy-lock.json
.config/GIMP/2.10
.config/gtk-2.0
.config/remmina
.config/vlc
