/* Main window */
#window {
margin: 5px;
border: 2px solid black;
border-radius: 20px;
background-color: transparent;
}

/* Primary window */
#outer-box {
padding: 10px;
background-color: transparent;
}

/* Input field */
#input {
padding: 5px;
border: 2px solid black;
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.5);
}

/* Scroll panel (contains inner-box) */
#scroll {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Inner box with the entries */
#inner-box {
	border: 10px solid transparent;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* Text inside inner-box */
#text {
}

/* Entire row of the selected text */
#entry:selected {
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgb(64, 64, 64);
}

/* Selected text inside inner-box */
#text:selected {
}

#img {
	background-color: transparent;
	padding: 5px;
}
